body {
    background-image: linear-gradient(

        rgb(58, 89, 93),
        rgb(29, 40, 42)
        );

        height: 100vh;
        color: white;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
    
}

button{
    background-color: inherit;
    border: none;
    color: inherit;
}

#abaixo-capa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 0 1em 0 ;
}

#button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.button{
    font-size: 2em;
}

.button-navigate{
    font-size: 3.5em;
}

.button-biggest{
    font-size: 4em;
}

#capa{
    width: 450px;
    height: 450px;
}

#playlist{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1em 0 4em 0 
}

#nome-msc{
    font-size: 1.5em;
    font-weight: bolder;
}

.light-color{
    color: rgb(139, 153, 156);
}

#progress-bar{
    background-color: rgb(139, 153, 156);
    height: 3px;
    width: 100%;
    border-radius: 15px;
    margin-bottom: 1em;
}

#current-progress{
    background-color: white;
    height: inherit;
    width: 45%;
    border-radius: inherit;
}